<?xml version="1.0" encoding="ISO-8859-1"?>
<Plugin>
  <name>SCU-DCU Accounting </name>
  <className>SCUAccounting</className>
  <description>Gathers accounting statistics for source class usage (SCU) and destination class usage (DCU) on Junos routers.
      A typical use case is for gathering client traffic statistics for billing. "source-class-usage" and "destination-class-usage"
      Junos configuration is required.</description>
  <location>statistics</location>
  <subLocation></subLocation>
  <order>default</order>
  <version>1.0</version>
  <poller>1</poller>
  <pollerScript>dispatch_scu_dcu.pl</pollerScript>
  <pollerInterval>5</pollerInterval>
</Plugin> 
