<?xml version="1.0" encoding="ISO-8859-1"?>
<Plugin>
  <className>SCUAccounting</className>
  <name>SCU-DCU Accounting </name>
  <location>statistics</location>
  <subLocation></subLocation>
  <description>BCNET SCU-DCU Accounting</description>
  <order>default</order>
  <version>0.1</version>
  <poller>1</poller>
  <pollerScript>test.pl</pollerScript>
  <pollerInterval>5</pollerInterval>
</Plugin> 
