<?xml version="1.0" encoding="ISO-8859-1"?>
<Plugin>
  <className>WeatherMap</className>
  <name>Weathermap</name>
  <location>statistics</location>
  <description>A visual representation of network statistics. The weathermap config file(s) must be manually
  built first. See this guide: https://www.network-weathermap.com/manual/0.98/pages/main.html</description>
  <order>default</order>
  <version>1.0</version>
  <poller>1</poller>
  <pollerScript>dispatch_weathermap.pl</pollerScript>
  <pollerInterval>1</pollerInterval>
</Plugin> 
